In [1]:
a = 2
print(type(a))
a = 'abc'
type(a)

<class 'int'>

str

In [23]:
a = 256
print(id(a))
b = 256
print(id(b))

4470953776
4470953776

In [30]:
a = 1000202020203034746363663636636363636262424
a

1000202020203034746363663636636363636262424

In [15]:
id(a)

4502906176

In [27]:
print(id(9))
a = 8
id(a)

4470945872

4470945840

In [28]:
a, b = 2, 3

In [31]:
a, b = b, a

1000202020203034746363663636636363636262424

In [35]:
# Numbers
a = 2
print(type(a))
b = 3.4
print(type(b))
c = 2 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [39]:
# strings
a = 's'
b = "s"
print(id(a))
print(id(b))
a = "4ewwr"
print(id(a))
type(a[0])

4473188624
4473188624
4503212752

str

In [50]:
a = 2
b = 3
a + b, a -b , a *b, a/b, a//b, a**b, a ^ b, 2 | 3, ~2, 2 & 3

(5, -1, 6, 0.6666666666666666, 0, 8, 1, 3, -3, 2)

In [56]:
a > b and a < b,a > b or a < b

(False, True)

In [60]:
not(True)

False

In [71]:
# strings
a = "abcd"
print(len(a))
#a[0] = 'e'
print(id(a))
a = a + "ab"
print(a + "5")
i = 100

print(a + str(i))
a*4

4
4504146808
abcdab5
abcdab100

'abcdababcdababcdababcdab'

In [75]:
b = a.upper()
print(a)
c = a.lower()
b, c

abcdab

('ABCDAB', 'abcdab')

In [83]:
a = "123"
a.isalpha(),a.isdigit(), a.startswith("12"),  a.endswith("12")

(False, True, True, False)

In [107]:
s = "this is a string that I      want to split. May be!"
l = s.split()
" ".join(l)

'this is a string that I want to split. May be!'

In [109]:
s[1:10], s[:6], s[4:], s[:]

('his is a ',
 'this i',
 ' is a string that I      want to split. May be!',
 'this is a string that I      want to split. May be!')

In [110]:
i = 4 
j = 10
s[i:j]

' is a '

In [111]:
input()

input string

'input string'

In [114]:
i = int(input())
type(i)

ewd

ValueError: invalid literal for int() with base 10: 'ewd'

In [122]:
a = 123
if a > 100:
    print(a)
    print("abc")

print("outside the if")

123
abc
outside the if

In [124]:
if a  > 100:
    print("in if")
else:
    print("in else")

in if

In [129]:
a = int(input())
if a > 200 and a < 1000:
    print("in if")
elif a > 100:
    print("in else if")
else:
    print("in else")

10000
in else if

In [130]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [135]:
n = 5
for i in range(0, n, 2):
    print(i)

0
2
4

In [137]:
for i in range(n , 1, -2):
    print(i)

5
3

In [152]:
a = [1,3,5,7]
for i in a:
    print(i, end=' ')
print()
print(10)

1 3 5 7
10

In [144]:
print(1, 2)

1 2

In [145]:
def fact(a):
    ans = 1
    for i in range(1, a + 1, 1):
        ans = ans * i
    return ans

In [146]:
fact(4)

24

In [183]:
def sum1(a, b = 0, c = 0):
    return a + b + c

In [190]:
def sumg(a, b = 5, *t):
    print(a)
    print(b)
    print(t)
    ans = a + b
    for i in t:
        ans += i
    return ans

In [193]:
sumg(1, 6)

1
6
()

7

In [162]:
sum1(4, b = 2)

6

In [170]:
t = (1, 2, 3, "abc")
t[2]

3

In [173]:
a = 1,2
type(a)

tuple

In [174]:
def f():
    return 1, 2

In [178]:
a, b = f()
print(a)
print(b)

1
2

In [194]:
t = (1,2)
a, b, c = t

ValueError: not enough values to unpack (expected 3, got 2)

In [200]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
print("Ayon")

Ayon

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9